<div id="books" class="bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 flex flex-col h-full">
  <div class="relative h-48 overflow-hidden rounded-t-lg">
    <img [src]="book.imageURL" [alt]="book.name" class="w-full h-full object-contain">
  </div>

  <div class="p-4 flex flex-col flex-grow">
    <h2 class="text-lg font-semibold mb-2 text-gray-800 line-clamp-2">{{book.name}}</h2>

    <div class="flex justify-between items-center mb-2 mt-auto">
      <span class="text-sm font-medium text-indigo-600">Price: ${{book.price}}</span>
    </div>


    <!-- Quantity adjustment buttons -->
    <div class="flex justify-between items-center">
      <button (click)="decreaseQuantity(book)" class="bg-red-600 text-white py-1 px-3 rounded hover:bg-red-700 transition-colors duration-300">
        -
      </button>
      <span class="text-gray-600">Quantity: {{quantity()}}</span>
      <button (click)="increaseQuantity(book)" class="bg-green-600 text-white py-1 px-3 rounded hover:bg-green-700 transition-colors duration-300">
        +
      </button>
    </div>
  </div>
</div>
